apispec==6.0.2
flasgger==0.9.5
flask==2.2.2
Flask-Limiter[redis]==3.1.0
gevent==22.10.2
grpc-auth-service==0.0.32
grpcio-tools==1.51.1
gunicorn==20.1.0
loguru==0.6.0
marshmallow==3.19.0
orjson==3.8.5
opentelemetry-api==1.15.0
opentelemetry-sdk==1.15.0
opentelemetry-instrumentation-flask==0.36b0
opentelemetry-instrumentation-grpc==0.36b0
opentelemetry-exporter-jaeger==1.15.0
pydantic==1.10.4
python-dotenv==0.21.1
